body {
  margin: 0;
  padding: 0;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  z-index: 99;
  font-family: sans-serif;
}

.instructions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  z-index: 99;
  font-family: sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.popup h4, .popup p {
  margin: 0;
}

:root {
  --popup-height: 64px;
}

.popup {
  height: var(--popup-height);
  padding: 8px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.popup .icon {
  height: 100%;
  width: calc(var(--popup-height) + 16px);
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -0%);
  position: absolute;
  background: linear-gradient(#7b4397, #dc2430);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.popup .info {
  display: flex;
  gap: 8px;
}

.popup .insta-link i {
  background-image: linear-gradient(#7b4397, #dc2430);
  border: 4px;
  color: transparent;
  background-clip: text;
  font-size: 24px;
  margin-right: 4px;
}

.popup .insta-link:focus-visible {
  outline: none;
}


.marker {
  height: 32px;
  width: 32px;
  background: linear-gradient(#7b4397, #dc2430);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid black;
}